.footer {
  background-color: #ffffff;
  max-height: 4.75rem;
}

.tarefas {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
  justify-content: end;
  color: #b1bacb;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 110%;
}

.rectangle {
  width: 95%;
  height: 0.08rem;
  background-color: #eeeeee;
  margin-left: 1rem;
}
