.footer {
  background-color: #ffffff;
  height: 75px;
  width: 650px;
}

.tarefas {
  width: 588px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 28px;
  justify-content: end;
  color: #b1bacb;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
}

.rectangle {
  width: 588px;
  height: 1px;
  background-color: #eeeeee;
  margin-left: 28px;
  margin-top: 24px;
}
