.header {
  background-color: #ffffff;
  height: 4.5rem;
  margin: 0;
  display: flex;
}

.board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4.23%;
  color: #11175e;
  padding-top: 1.5rem;
  margin: 0;
  font-family: "Rubik";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 1%;
}
