.header {
  background-color: #ffffff;
  height: 75px;
  width: 650px;
  margin: 0;
  display: flex;
}

.board {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4.23%;
  color: #11175e;
  padding-top: 29px;
  margin: 0;
  font-family: "Rubik";
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 1%;
}
